script.
	// Enable bootstrap tooltips
	$(function (){
        $("[rel=tooltip]").tooltip();
    });
.exolight
    //- | WAN1 Ping: #{getping($wan1_ip,$ping_ip)} ms
    br
    br
    //- #{makeBandwidthBars('rl4')}
    //- function makeBandwidthBars($interface){
    //- 	$array = getBandwidth($interface);
    //- 	$dPercent = sprintf('%.0f',($array[0] / 55) * 100);
    //- 	$uPercent = sprintf('%.0f',($array[1] / 5) * 100);
    //- 	printBandwidthBar($dPercent, 'Download', $array[0]);
    //- 	printBandwidthBar($uPercent, 'Upload', $array[1]);
    //- }
    br
    //- | WAN2 Ping: #{getping($wan1_ip,$ping_ip)} ms
    br
    br
